@{
    ViewData["Title"] = "Tours OpenData - Indigo";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <table>
        <tr>
            @foreach (var parking in ViewBag.Parkings)
            {
                <th style="border:3px solid; padding: 5px;">
                    @parking.libelle_parking
                </th>
            }
        </tr>
        <tr>
            @foreach (var parking in ViewBag.Parkings)
            {
                <td style="border:3px solid; padding: 5px;">
                    <ul>
                        <li>
                            @parking.adresse @parking.commune (@parking.code_postal)
                        </li>
                        @if (parking.places_libres != null)
                        {
                            <li>
                                @parking.places_libres / @parking.capacite
                            </li>
                        }
                        else
                        {
                            <li>
                                ? / @parking.capacite
                            </li>
                        }
                    </ul>
                </td>
            }
        </tr>
    </table>
</div>
